body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.head{
    background-color: rgb(73, 116, 246);
    height: 30px;
}

.header {
    background-color: #b3d1ff;
    text-align: center;
    padding: 40px 0px;
    grid-area: header;
    font-size: 30px;
    font-weight: bold;
}

.content {
    background-color: #e6e6e6;
    padding: 60px 0px;
    text-align: center;
    grid-area: content;
    font-size: 30px;
    font-weight: bold;
}

.signup {
    background-color: #b3e0ff;
    padding: 20px 0px;
    text-align: center;
    grid-area: signup;
    font-size: 30px;
    font-weight: bold;
}

.feature {
    padding: 20px ;
    text-align: center;
    background-color: #dda0dd;
    font-size: 30px;
    font-weight: bold;
}

.feature1 {
    background-color: #ffd480;
}

.feature2 {
    background-color: #cc99ff;
}

.feature3 {
    background-color: #ff8080;
}


.container {
    display: grid;
    grid-template-areas:
        "header" 
        "content"
        "signup"
        "feature1"
        "feature2"
        "feature3";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
}

@media (min-width: 600px) {
    .container {
        grid-template-areas: 
            "header header"
            "content content"
            "signup feature1"
            "feature2 feature3";
        grid-template-columns: 1fr 1fr;
    }
    .feature{
        padding: 60px 0px;
    }
    .signup{
        padding: 60px 0px;
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-areas: 
            "header header header"
            "feature1 feature2 feature3"
            "signup signup signup"
            "content content content";
        grid-template-columns: repeat(3, 1fr);
    }
    .feature{
        padding: 80px 0px;
    }
    .signup{
        padding: 20px 0px;
    }
}
